.DS_Store
.hugo_build.lock
docs/public
docs/resources/_gen
data/train/input/imgs/*.png
data/train/input/segs/*.npy
data/train/reference/imgs/*.png
data/train/reference/segs/*.npy
data/test/input/imgs/*.png
data/test/input/segs/*.npy
data/test/reference/imgs/*.png
data/test/reference/segs/*.npy
**/__pycache__/
notebooks/lightning_logs

settings.json
.coverage
cov.xml