.DS_Store
.hugo_build.lock
docs/public
docs/resources/_gen
data/**/*.png
data/**/*.jpg
data/**/*.npy
tests/test_data/processed
wandb
lightning_logs

**/__pycache__/
notebooks/lightning_logs

settings.json
.coverage
cov.xml